.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.text {
  display: flex;
  flex: 6;
  width: 50%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
