.main {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.selection {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.textArea {
  display: flex;
  flex-direction: row;
  flex: 6;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.textArea > .leftButton {
  background-color: black;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  border-radius: 50%;
}

.textArea > .rightButton {
  background-color: black;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  border-radius: 50%;
}

.text {
  width: 50%;
  height: 70%;
  font-size: 25px;
  text-align: justify;
  color: white;
  background-color: rgb(74, 74, 74);
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
}
