body {
  --selection-height: 120px;
  --footer-height: 60px;
}

@media (max-width: 600px) {
  body {
    --selection-height: 60px;
  }
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
a,
span {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

button {
  border-style: none;
}
